.boton {
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    padding: 10px 20px;
    font-size: 18px;
    position: relative;
    }
    
    .boton::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.2s;
    }
    
    .boton:hover::before {
    opacity: 1;
    }
    
    .boton:hover {
    color: #fff;
    background-color: green;
    }
    
    .boton::after {
    content: "¡Hecho!";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
    }
    
    .boton:hover::after {
    opacity: 1;
    }